{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load bootstrap_form from bootstrap4 %}

{% block title %}
Redeem Permit
{% endblock %}


{% block content %}
	<div id="content-container" class="container p-none">
		<div>Form Errors: {{ form.errors }}  Form Non Field Errors: {{ form.non_field_errors }}</div>
		<div class="side-p">
			<form id="new_permit" action="." method="post" enctype="multipart/form-data">
				{% csrf_token %}
				
				<h2><b>General Permit Information</b></h2>
				
				<table class="table">
					<tbody>
						<tr>
							<td width="40%">Building type</td>
							<td width="20%">{{ form.building_type }}</td>
							<td style="color:red;">Required</td>
						</tr>

						<tr>
							<td>Permittee type</td>
							<td>{{ form.permittee_type }}</td>
							<td style="color:red;">Required</td>
						</tr>

						<tr>
							<td>Parcel / Folio #</td>
							<td>{{ form.parcel }}</td>
							<td style="color:red;">Required</td>
						</tr>

						<tr>
							<td>Job Street Address Line 1</td>
							<td>{{ form.job_street_address_1 }}</td>
							<td style="color:red;">Required</td>
						</tr>
						
						<tr>
							<td>Job Street Address Line 2</td>
							<td>{{ form.job_street_address_2 }}</td>
							<td style="color:blue;">Optional</td>
						</tr>
						
						<tr>
							<td>Owner Name</td>
							<td>{{ form.owner_name }}</td>
							<td style="color:red;">Required</td>
						</tr>

						<tr>
							<td>Owner Phone Number</td>
							<td>{{ form.owner_phone }}</td>
							<td style="color:red;">Required</td>
						</tr>

						<tr>
							<td>Subdivision</td>
							<td>{{ form.subdivision }}</td>
							<td style="color:blue;">Optional</td>
						</tr>

						<tr>
							<td>Lot / Block / Unit</td>
							<td>{{ form.lot_block_unit }}</td>
							<td style="color:blue;">Optional</td>
						</tr>

						<tr>
							<td>SDP / PL#</td>
							<td>{{ form.sdp_pl }}</td>
							<td style="color:blue;">Optional</td>
						</tr>
						<tr>
							<td>PL# Filename Line 1</td>
							<td>{{ form.pl_filename_line1 }}</td>
							<td style="color:blue;">Optional</td>
						</tr>
						<tr>
							<td>PL# Filename Line 2</td>
							<td>{{ form.pl_filename_line2 }}</td>
							<td style="color:blue;">Optional</td>
						</tr>
					</tbody>
				</table>
						
				<h2><b>Application Information</b></h2>
				
				<table class="table">
					<tbody>

						<tr>
							<td>Subcontractors<br><br>
							
							<table>
								<tr><td>Electrical</td><td>{{ form.sub_elec }}</td>
								<td>Plumbing</td><td>{{ form.sub_plumb }}</td>
								<td>Mechanic</td><td>{{ form.sub_mech }}</td>
								<td>Roof</td><td>{{ form.sub_roof }}</td></tr>
								
								<tr>
								<td>Septic</td><td>{{ form.sub_septic }}</td>
								<td>Low Voltage</td><td>{{ form.sub_lowvoltage }}</td>
								<td>Shutters</td><td>{{ form.sub_shutters }}</td>
								</tr>
								<tr>
								<td>Gas</td><td>{{ form.sub_gas }}</td>
								<td>Elect from house</td><td>{{ form.sub_elecfromhouse }}</td>
								</tr>
							
							</table>	
							
							
							</td>
							<td>
							</td>
							<td style="color:blue;">Optional</td>
						</tr>
										
						<tr>
							<td width="40%">Related to DAMAGES INCURRED BY HURRICANE IRMA</td>
							<td align="left" width="20%">{{ form.related_hurricane_irma }}</td>
							<td style="color:red;">Required</td>
						</tr>
						
<!--
						<tr>
							<td></td>
							<td>{{ form. }}</td>
						</tr>
-->												
						

					</tbody>
				</table>
				
				<h2><b>Project Information</b></h2>
				
				<table class="table">
					<tbody>
										
						<tr>
							<td width="40%">Project Name</td>
							<td width="20%">{{ form.project_name }}</td>
							<td style="color:red;">Required</td>
						</tr>
						<tr>
							<td>Declared Value</td>
							<td>{{ form.declared_value }}</td>
							<td style="color:blue;">Optional</td>
						</tr>
						<tr>
							<td>Project Information Line 1</td>
							<td>{{ form.project_line_1 }}</td>
							<td style="color:blue;">Optional</td>
						</tr>
						<tr>
							<td>Project Information Line 2</td>
							<td>{{ form.project_line_2 }}</td>
							<td style="color:blue;">Optional</td>
						</tr>
						<tr>
							<td>Project Information Line 3</td>
							<td>{{ form.project_line_3 }}</td>
							<td style="color:blue;">Optional</td>
						</tr>
						<tr>
							<td>Project Information Line 4</td>
							<td>{{ form.project_line_4 }}</td>
							<td style="color:blue;">Optional</td>
						</tr>
						<tr>
							<td>Project Information Line 5</td>
							<td>{{ form.project_line_5 }}</td>
							<td style="color:blue;">Optional</td>
						</tr>

<!--
						<tr>
							<td></td>
							<td>{{ form. }}</td>
						</tr>
-->						

					</tbody>
				</table>

				<h2><b>Please review the above information</b></h2>

<!--				
				<table class="table">
					<tbody>
								
						<tr>
							<td width="40%">Your initials</td>
							<td width="20%">{{ form.project_line_5 }}</td>
							<td style="color:red;">Required</td>
						</tr>
					</tbody>
				</table>
-->								
                                <button type="submit" class="btn">{% trans "Submit" %}</button>
			</form>

<!--
			The below code was to allow the person to first upload a picture, then fill out the form.
			However, this takes more time to do than just having the person do all at once. Later on
			can go back and add a picture "preview". 
			
			<br><br>
			<form id="new_tech_pic" action="." method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<table class="table">
					<tbody>
						<tr>
							<th>{{ form.certificate_photo.label }}</th>
						</tr>
						<tr>
							<td>{{ form.certificate_photo }}</td>
						</tr>
					</tbody>
				</table>
				<button type="submit">Save</button>
			</form>


			{% if uploaded_file_url %}
				<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
			{% endif %}
-->
			<br><br>
			<p><a href="{% url 'home' %}">Return to home</a></p>			
			
		</div>
	</div>
	

{% endblock content %}
