{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load bootstrap_form from bootstrap4 %}

{% block title %}
Technician List
{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li>
      <a href="{% url 'home'%}">
        {% trans "Home" context "Main navigation item" %}
      </a>
    </li>
    <li>
      <a href="{% url "upermit:technicians" %}">
        {% trans "Technician" context "Main navigation item" %}
      </a>
    </li>
  </ul>
{% endblock breadcrumb %}

{% block meta_tags %}
  <meta name="robots" content="noindex, nofollow">
{% endblock meta_tags %}

{% block content %}
  <div id="content-container" class="container p-none">
    <ul id="al-group" class="strip-list">
      <table border=1>
        <tr><td>Full name</td><td>Date added</td><td>Photo</td><td>Approved</td></tr>
        {% for line in technicians %}
        <tr>
          <td>{{ line.fullname }}</td>
          <td>{{ line.datetime_created }}</td>
          {% if line.certificate_photo %}
          <td><img src="{{ MEDIA_URL }}{{ line.certificate_photo }}" ></img></td>
          {% else %}
          <td></td>
          {% endif %}
          <td>{{ line.approved }}</td>
        </tr>
                
        {% endfor %}
      </table>
    </ul>
  
  <a href={% url "upermit:new_technician" %}>Add a new technician</a>
  </div>


{% endblock content %}
